<div class="p-grid">
  <div class="p-col-12"></div>
</div>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-8"><p-table [value]="spelers">
    <ng-template pTemplate="header">
        <tr>
            <th>Player</th>
            <th>Ranking</th>
            <th>Ranking value</th>
            <th>ID</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-speler > 
      <tr style="text-align:center;">
            <td>{{speler.name}}</td>
            <td>{{speler.klassement}}</td>
            <td>{{speler.waardeKlassement}}</td>
            <td>{{speler.id}}</td>
        </tr>
     
    </ng-template>
  </p-table></div>
  <div class="p-col-2"></div>
</div>



<p-dialog header="Voeg speler toe" [(visible)]="display">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="name"> 
    <label for="float-input">Name</label>
</span>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="klassement"> 
  <label for="float-input">Ranking</label>
</span>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="waardeklassement"> 
  <label for="float-input">Ranking value</label>
</span>
<button pButton type="button" label="Voeg Toe"  (click)="AddSpeler()" class="ui-button-danger" style="margin:0.5%" ></button>
</p-dialog>


<p-dialog header="Delete speler" [(visible)]="display2">
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="id"> 
  <label for="float-input">id</label>
</span>
<button pButton type="button" label="Delete"  (click)="DeleteSpeler()" class="ui-button-danger" style="margin:0.5%" ></button>
</p-dialog>





<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-4"><button pButton type="button" label="Add"  (click)="showDialog()" class="ui-button-danger" style="margin:0.5%" ></button>
    <button pButton type="button" label="Delete" (click)="showDialog2()" class="ui-button-danger" style="margin:0.5%"></button>
    <button pButton type="button" label="Update" (click)="Update()" class="ui-button-danger" style="margin:0.5%"></button>
  </div>
  
<div class="p-col-4">
  <button pButton type="button" label="Previous" (click)="Previous()" class="ui-button-success" style="margin:0.5%; float: right"></button>
  <button pButton type="button" label="Next"  (click)="Next()" class="ui-button-success" style="margin:0.5%;float: right"></button>
  <button pButton type="button" label="Sort"  (click)="Sort()" class="ui-button-warning" style="margin:0.5%;float: right"></button>

</div>
<div class="p-col-2"> </div>
</div>

<div class="p-grid">
    <div class="p-col-2"></div>
<h2>Search on Id</h2>
</div>


  <div class="ui-g">
    <div class="ui-g-2"></div>
  
  <div class="ui-g-4">
      
      <app-get-speler></app-get-speler>
    </div>
    <div class="ui-g-4"></div>
    <div class="ui-g-2"></div>
</div>